.card {
  width: 600px;
  margin-bottom: 0;
}

.hole-game {
	position: relative;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.status {
  margin-bottom: 20px;
}
.hole {
  width: 150px;
  height: 150px;
  margin: 0 15px 30px;
  background: gray;
  border-radius: 50%;
}

.hole_has-mole {
  background-image: url(https://i.postimg.cc/rmtGV8h9/mole.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: brown;
}

.message-victory, .message-defeat {
	position: absolute;
	text-align: center;
	inset: 50% 0 0 0;
	background: transparent;
	outline: none;
	border: none;
	transform: scale(0);
	transition: 0.3s ease-in;
}

.message-text{
	display: block;
	color: rgb(253, 2, 65);
	font-size: 50px;
	text-transform: uppercase;
	letter-spacing: 8px;
	text-shadow:
		0 0 5px #ff0000,
		0 0 10px #ff0000,
		0 0 20px #ff5a1e,
		0 0 40px rgb(255, 128, 0),
		0 0 80px rgb(255, 208, 0),
		0 0 90px rgb(255, 214, 9),
		0 0 100px rgb(255, 247, 0),
		0 0 150px rgb(242, 255, 0);
	transition: 0.1s ease-in;
}
.message-text:hover{
	cursor: pointer;
	/* transform: scale(1.1); */
	font-size: 55px;
	transition: 0.1s ease-in;
}
.visible{
	transform: scale(1);
	transition: 0.3s ease-in;
}